body
    
    
    
.main
    display: flex
    align-items: center
    flex-wrap: wrap


    font-family: Arial, Helvetica, sans-serif

    .mainHeader
        width: 100%

        h1
            font-size: 2vw
            text-align: center


    .formContainer
        width:30vw
        margin:5vw

        h3
            font-size: 1.2vw



    .mapContainer
        width:40vw

        h2
            font-size: 2vw
        canvas
            border: solid 2px
            // width: 40vw
            // height: 25vw
            // canvas size is set in .js file
        


    .submitButton
        align-self: flex-end
        justify-content: center